RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ http://www.roughlinen.com/$1 [L,R=301]
Redirect 301 /shop_by_product.html  https://roughlinen.com/rough-linen-products.html
Redirect 301 /bath_towel_menu.html  https://roughlinen.com/rough-linen-bathe.html
Redirect 301 /curtains_menu_new.html  https://roughlinen.com/rough-linen-shade.html
Redirect 301 /pinafore.html https://roughlinen.com/rough-linen-pinafore.html
Redirect 301 /about_new.html  https://roughlinen.com/rough-linen-about.html
Redirect 301 /credo_new.html  https://roughlinen.com/rough-linen-credo.html
Redirect 301 /fabrics.html  https://roughlinen.com/rough-linen-fabrics.html
Redirect 301 /flax_new1.html  https://roughlinen.com/rough-linen-flax.html
Redirect 301 /media.html  https://roughlinen.com/rough-linen-press.html
Redirect 301 /tlc_new.html  https://roughlinen.com/rough-linen-care.html
Redirect 301 /gallery_new.html  https://roughlinen.com/rough-linen-gallery.html
Redirect 301 /videos_menu.html  https://roughlinen.com/rough-linen-videos.html
Redirect 301 /community.html  https://roughlinen.com/rough-linen-community.html
Redirect 301 /community_signup.html https://roughlinen.com/rough-linen-join.html
Redirect 301 /faq.html  https://roughlinen.com/rough-linen-faq.html
Redirect 301 /contact.html  https://roughlinen.com/rough-linen-contact.html
Redirect 301 /sample_card.html  https://roughlinen.com/rough-linen-sample-card.html
Redirect 301 /white_shams_new.html  https://roughlinen.com/rough-linen-pillow-slip.html
Redirect 301 /makeover.html https://roughlinen.com/rough-linen-bed-makeover.html
Redirect 301 /tablecloth_new.html https://roughlinen.com/rough-linen-tablecloth.html
Redirect 301 /summer_cover_ork.html https://roughlinen.com/rough-linen-summer-cover.html
Redirect 301 /shipping_policy.html  https://roughlinen.com/rough-linen-shipping-policy.html
Redirect 301 /return_policy.html  https://roughlinen.com/rough-linen-return-policy.html
Redirect 301 /privacy_policy.html https://roughlinen.com/rough-linen-privacy-policy.html
Redirect 301 /orkney.html https://roughlinen.com/rough-linen-orkney.html
Redirect 301 /smooth.html https://roughlinen.com/rough-linen-smooth.html
Redirect 301 /stbarts.html  https://roughlinen.com/rough-linen-st-barts.html
Redirect 301 /myriad.html https://roughlinen.com/rough-linen-myriad.html
Redirect 301 /bath_makeover.html  https://roughlinen.com/rough-linen-bath-makeover.html
Redirect 301 /kitchen_must_haves.html https://roughlinen.com/rough-linen-kitchen-must-haves.html
Redirect 301 /set_of_seven.html https://roughlinen.com/rough-linen-set-of-seven.html
Redirect 301 /smooth_white_sheets.html  https://roughlinen.com/rough-linen-sheet.html
Redirect 301 /ork_duvet_new.html  https://roughlinen.com/rough-linen-duvet-cover.html
Redirect 301 /ork_shams_new.html  https://roughlinen.com/rough-linen-sham.html
Redirect 301 /summer_bed.html https://roughlinen.com/rough-linen-summer-bed.html
Redirect 301 /bolster.html  https://roughlinen.com/rough-linen-bolster.html
Redirect 301 /bedskirt_new.html https://roughlinen.com/rough-linen-bedskirt.html
Redirect 301 /bread_bag.html  https://roughlinen.com/rough-linen-bread-bag.html
Redirect 301 /cocktail_napkins.html https://roughlinen.com/rough-linen-cocktail-napkin.html
Redirect 301 /napkins_new.html  https://roughlinen.com/rough-linen-napkin.html
Redirect 301 /placemat.html https://roughlinen.com/rough-linen-placemat.html
Redirect 301 /tea_towel.html  https://roughlinen.com/rough-linen-tea-towel.html
Redirect 301 /apron.html  https://roughlinen.com/rough-linen-apron.html
Redirect 301 /bath_sheet.html https://roughlinen.com/rough-linen-bath-sheet.html
Redirect 301 /bath_towel.html https://roughlinen.com/rough-linen-bath-towel.html
Redirect 301 /hand_towel.html https://roughlinen.com/rough-linen-hand-towel.html
Redirect 301 /bath_mat.html https://roughlinen.com/rough-linen-bath-mat.html
Redirect 301 /lavender_bags.html  https://roughlinen.com/rough-linen-lavender-bag.html
Redirect 301 /orkney_curtain.html https://roughlinen.com/rough-linen-orkney-curtain.html
Redirect 301 /stbarts_curtain.html  https://roughlinen.com/rough-linen-st-barts-curtain.html
Redirect 301 /smooth_curtain.html https://roughlinen.com/rough-linen-smooth-curtain.html
Redirect 301 /myriad.html https://roughlinen.com/rough-linen-myriad-curtain.html
Redirect 301 /ork_duvet_solo.html https://roughlinen.com/rough-linen-orkney-duvet-cover.html
Redirect 301 /smooth_duvet_solo.html  https://roughlinen.com/rough-linen-smooth-duvet-cover.html
Redirect 301 /st_barts_duvet_solo.html  https://roughlinen.com/rough-linen-st-barts-duvet-cover.html
Redirect 301 /nothing_web/nothing_for_sale.html https://roughlinen.com/nothing_web/rough-linen-nothing-for-sale.html
ErrorDocument 404 /404.html
