<footer class="site-footer">
    <div class="container">
        <div class="footer-block">
            <div class="col-md-3 col-sm-4 col-xs-6">
                <p>
                    <a href="/index.html"><img class="small_logo" src="/images/rough-linen-logo-small.gif" title="" alt="Rough Linen™ real, natural linen, the way it used to be"></a>
                </p>
                <p class="footer-column-phone">Sales 1-800-968-0903</p>
                <p><a href="/rough-linen-shipping-policy.html">Shipping</a> | <a href="/rough-linen-return-policy.html">Returns</a> | <a href="/rough-linen-privacy-policy.html">Privacy</a></p>
                <div class="footer-copyright">
                    <p>Copyright &copy; 2016 Tricia Rose Inc.</p>
                    <p>Rough Linen™ is a trademark of
                        <br> Tricia Rose Inc.</p>
                    <p> Made in the USA</p>
                </div>
                <div class="social-media-icons">
                    <a href="http://facebook.com/roughlinen" class="sm-icon" title="Rough Linen on Facebook"><i class="fa fakebook"></i></a>
                    <a href="http://twitter.com/roughlinen" class="sm-icon" title="Rough Linen on Twitter"><i class="fa tweeter"></i></a>
                    <a href="https://www.youtube.com/user/roughlinen1" class="sm-icon" title="Rough Linen on Youtube" rel="publisher"><i class="fa bluetube"></i></a>
                    <a href="http://instagram.com/roughlinen" class="sm-icon" title="Rough Linen on Instagram"><i class="fa rinstagram"></i></a>
                    <a href="http://pinterest.com/roughlinen" class="sm-icon" title="Rough Linen on Pinterest"><i class="fa linterest"></i></a></div>
            </div>
            <!-- end footer column first-->
            <div class="col-md-2 col-sm-2 hidden-xs center-block">
                <h4 class="footer-column-heading">Company</h4>
                <ul>
                    <li><a href="/rough-linen-about.html">About Us</a></li>
                    <li><a href="/rough-linen-credo.html">Credo</a></li>
                    <li><a href="/rough-linen-newsletters.html">Newsletters</a></li>
                    <li><a href="/rough-linen-press.html">Press</a></li>
                    <li><a href="/rough-linen-contact.html">Contact</a></li>
                    <li><a href="/rough-linen-faq.html">FAQs</a></li>
                </ul>
            </div>
            <!-- end footer column -->
            <div class="col-md-2 col-sm-2 hidden-xs center-block">
                <h4 class="footer-column-heading">Fabrics</h4>
                <ul>
                    <li><a href="/rough-linen-orkney.html">Orkney</a></li>
                    <li><a href="/rough-linen-smooth.html">Smooth</a></li>
                    <li><a href="/rough-linen-st-barts.html">St Barts</a></li>
                    <li><a href="/rough-linen-myriad.html">Myriad</a></li>
                    <li><a href="/rough-linen-flax.html">Flax</a></li>
                    <li><a href="/rough-linen-care.html">Care</a></li>
                </ul>
            </div>
            <!-- end footer column -->
            <div class="col-md-2 hidden-sm hidden-xs center-block">
                <h4 class="footer-column-heading">Shop</h4>
                <ul>
                    <li><a href="/rough-linen-products.html">All Products</a></li>
                    <li><a href="/rough-linen-bundles.html">Bundles</a></li>
                    <li><a href="/rough-linen-sleep.html">Sleep</a></li>
                    <li><a href="/rough-linen-eat.html">Eat</a></li>
                    <li><a href="/rough-linen-cook.html">Cook</a></li>
                    <li><a href="/rough-linen-bathe.html">Bathe</a></li>
                    <li><a href="/rough-linen-shade.html">Shade</a></li>
                    <li><a href="/rough-linen-more.html">More</a></li>
                </ul>
            </div>
            <!-- end footer column -->
            <div class="col-md-2 col-sm-3 col-xs-6 center-block pull-right">
                <div class="row">
                    <a href="https://www.google.com/maps/place/Marin+County,+CA/@33.2978426,-125.7288728,3894420m/data=!3m1!1e3!4m2!3m1!1s0x8085a17c328e66f3:0xbd087dc5155b41c!6m1!1e1"><img src="/images/made-in-marin-bw100.gif" title="" alt="Made in Marin"></a>
                </div>
                <div class="row">
                    <a href="http://www.marthastewart.com/americanmade/nominee/103058/design/rough-linen"><img src="/images/martha-stewart-american-made-2015-bw-100x125.gif" title="" alt="American Made: Martha Stewart 2014 Nominee"></a>
                </div>
            </div>
            <!-- end footer column badges-->
        </div>
        <!-- end footer block -->
    </div>
    <!-- end wrapper -->
    <script type="text/javascript" src="/highslide/highslide-full.js"></script>
    <script type="text/javascript" src="/highslide/highslide-with-gallery.js"></script>
    <script type="text/javascript" src="/highslide/highslide.config.js" charset="utf-8"></script>
    <script type="text/javascript">
    hs.graphicsDir = '/highslide/graphics/';
    hs.showCredits = false;
    </script>
</footer>
