<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link href="/styles/rough-linen-may-2015.css" rel="stylesheet" type="text/css">
    <link href="/highslide/highslide.css" rel="stylesheet" type="text/css">
    <link href="/styles/rough-linen-footer.css" rel="stylesheet" type="text/css">
    <link href="/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet" >
</head>