<!doctype html>
<html>

<head>
    {% include head.html %}
</head>

<body>
    {% include header.html %}
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-push-5">
                    <span><a href="../{{page.previous}}/{{page.previous}}.html"><img src="/images/arrow-for-community-left.jpg" alt="" height="42" width="42" border="0" /></a></span>
                    <span style="margin-left: 33%" class="center"><font size="6" face="Verdana, Arial, Helvetica, sans-serif">{{ page.contributer }}</font></span>
                    <span class="pull-right"><a href="../{{page.next}}/{{page.next}}.html"><img src="/images/arrow-for-community-right.jpg" alt="" height="42" width="42" border="0" /></a></span>
                </div>
            </div>
            <div class="row">
                <div id="community_large_photo" class="col-md-5">
                    <a class="highslide" href="{{ page.video }}" onclick="return hs.htmlExpand(this, {objectType: 'iframe', width: 710, height: 460, allowSizeReduction: false, wrapperClassName: 'draggable-header no-footer', preserveContent: false, objectLoadTime: 'after'})">
                        <img src="{{ page.video_image }}" alt="" class="img-responsive" border="0" />
                    </a>
                </div>
                <div class="col-md-7 col-sm-12">
                    <div class="row ">
                        <div class="col-xs-6 col-sm-3 col-md-3">
                            <a href="{{ page.image_01 }}" class="highslide" onclick="return hs.expand(this, config1 )"><img src="{{ page.image_01 }}" width="141" height="193" /></a>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-3">
                            <a href="{{ page.image_02 }}" class="highslide" onclick="return hs.expand(this, config1 )"><img src="{{ page.image_02 }}" width="141" height="193" /></a>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-3">
                            <a href="{{ page.image_03 }}" class="highslide" onclick="return hs.expand(this, config1 )"><img src="{{ page.image_03 }}" width="141" height="193" /></a>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-3">
                            <a href="{{ page.image_04 }}" class="highslide" onclick="return hs.expand(this, config1 )"><img src="{{ page.image_04 }}" width="141" height="193" /></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-3 col-md-3">
                            <a href="{{ page.image_05 }}" class="highslide" onclick="return hs.expand(this, config1 )"><img src="{{ page.image_05 }}" alt="" width="141" height="193" border="0" /></a>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-3">
                            <a href="{{ page.image_06 }}" class="highslide" onclick="return hs.expand(this, config1 )"><img src="{{ page.image_06 }}" alt="" width="141" height="193" border="0" /></a>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-3">
                            <a href="{{ page.image_07 }}" class="highslide" onclick="return hs.expand(this, config1 )"><img src="{{ page.image_07 }}" alt="" width="141" height="193" border="0" /></a>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-3">
                            <a href="{{ page.image_08 }}" class="highslide" onclick="return hs.expand(this, config1 )"><img src="{{ page.image_08 }}" alt="" width="141" height="193" border="0" /></a>
                        </div>
                    </div>
                    <div>
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include footer.html %}
</body>

</html>
